/* General Styles */
body {
  background-color: #c7d64f;
  background-image: url("https://www.transparenttextures.com/patterns/white-diamond-dark.png");
  font-family: "Roboto", sans-serif !important;
}

.material-icons {
  color: #F8FEFE;
}

a:hover {
  color: #C7D64F;
  text-decoration: none;
}

.blue-text {
  color: #0E5E67;
}

/* Nav Bar */

.bg-primary {
  background-color: #0E5E67 !important;
  background-image: url("https://www.transparenttextures.com/patterns/white-diamond-dark.png");
}

#countdown,
#days,
#hours,
#minutes,
#seconds {
  color: #0E5E67;
  font-weight: bold;
  text-transform: uppercase;
}

#countdown {
  font-size: 20px;
}

.countdown-box {
  height: 50px;
  width: 20%;
  background-color: #F8FEFE;
  margin: 5px;
  text-align: center;
  padding: 4px 0 0 0 !important;
}

/* Buttons */

.btn-grey {
  background-color: #F8FEFE;
}

.btn-city {
  width: 80px;
  margin-bottom: 10px;
  font-size: 0.85em;
  height: 50px;
  background: #0E5E67 !important;
  color: #F8FEFE;
  padding: 0;
}

#reset-btn {
  color: #0E5E67;
  font-weight: bold
}

.btn-hide {
  margin-top: 15px;
  background-color: #F8FEFE !important;
  margin-right: 30px;
  color: #0E5E67;
  font-weight: bold;
}

.btn-hide:hover {
  color: #C7D64F;

}

/* Map*/
#map {
  margin-top: 10px;
  height: 80vh;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 15px;
}

.city-hide {
  display: none;
}

#map-info-container {
  margin: 10px;
}

.small-icon {
  width: 12px;
  height: 12px;
  padding-right: 25px;
}

/* Infomation Card */

.card {
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-header {
  font-size: 25px;
  background-color: #0E5E67 !important;
  background-image: url("https://www.transparenttextures.com/patterns/white-diamond-dark.png");
  padding: 18px 0 0 6px;
  margin: 0;
}

li {
  padding-bottom: 5px;
  list-style-image: url("../img/list-logo.png");
}

.list-text {
  top: -4px;
  position: relative;
  font-size: 15px;
}

input {
  visibility: hidden;
}

.header-column {
  padding: 0px 0 0 16px;
}

.hide-column {
  padding: 0 0 10px 0;
}

/* Media Queries */

@media only screen and (min-width: 992px) {
  .btn-city {
    width: 120px;
    height: 80px;
    font-size: 1.05em;
  }

  .hide-button {
    display: none;
  }

  .flag-icon {
    margin: 7px;
  }

  .service-toggles-mobile {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .service-toggles-desktop {
    display: none;
  }

  #stpText {
    font-size: 0.8em;
  }

}