/* General Styles */
body {
  background-color: #c7d64f;
  font-family: "Roboto", sans-serif !important;
}

/* Nav Bar */

.bg-primary {
  background-color: #188c99 !important;
}

/* Buttons */

.btn-grey {
  background-color: #d1dbdc;
}

.btn-city {
  width: 80px;
  margin-bottom: 10px;
  font-size: 0.85em;
  height: 50px;
  background: #188c99 !important;
  color: #d1dbdc;
  padding: 0;
}



#map {
    margin-top: 10px;
    height: 80vh;
    width: 100%;
    margin-bottom: 20px;
}

.cities {
  padding: 0!important;
}